ul.items, li.item {
    list-style: none;
}

ul.items{
    margin: 3.8em auto 0;
    padding: 1em 0;
    background-color: white;
}

li.item {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 4em;
}

div.media *{
    max-width: 100%;
}

audio, video {
    cursor: pointer;
}

div.media-label {
    padding-top: 5px;
    font: 9px sans-serif;
}

/* pagination */
.pagination{
    display: inline-block;
    position: fixed;
    bottom: 1.5em;
    right: 10%;
    width: 80%;
    background: white;
    opacity: 0.9;
}
.pagination span:first-child {
    display: inline-block;
    width: 2em;
}
.pagination a {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 2em;
}

.pagination a.active, .pagination span:first-child {
    background-color: #e91e63;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: lightgrey;
}
